#navbar {
  background-color: #dcdcdc;
  position: fixed;
  top: 0vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  opacity: 0.9;
}

#welcome-section {
  background-color: #dcdcdc;
  height: 100vh;
  width: 100vw;
}

#projects {
  height: 100vh;
  width: 100vw;
}

.projectname {
  padding-right: 5%;
}

.img {
  height: 2%;
  width: 2%;
}

@media (max-width: 767px) {
  #navbar {
    width: 100vw;
    position: fixed;
  }
  .welcome-section {
    padding-top: 0%;
    left: 0%;
    width: 100vw;
  }
}
